body{
  font-size: 16px;
}
h1{
  width: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
}
ul{
  background-color: orange;
  line-height: 5em;
}
.font-color{
  color:green;
  text-align: end;
  text-decoration: overline;
  font-style: italic;
}
p{
  font-weight: 600;
  font-size: 3em;
}
#amarelo{
  background-color: yellow;
}
#vermelho{
  background-color: red;
}
#marrom{
  background-color: brown;
}